@{
    Layout = "_ConfigurePlugin";
}

<table width="100%" cellspacing="2" cellpadding="1" border="0">

  
    <tr>
        <td>
            <p>@T("Plugins.Payments.TerraLuna.Balance")</p>
        </td>
    </tr>

</table>